<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8"/>
		<title>Tatcha</title>
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		
		<!-- Bootstrap CSS -->
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- The main CSS file -->
		<link href="style.css" rel="stylesheet" />
		<!-- Include AngularJS from Google's CDN -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<!-- Scripts -->
		<script src="script.js"></script>
		<script src="controller.js"></script>



	</head>
	<body ng-app="Tatcha" ng-controller="SearchController">
	<div class="navbar-header">
	       <a class="navbar-brand" target="_blank" href="https://www.tatcha.com/coding-challenge"><h2>Tatcha Coding Challenge<h2></a>
	  </div>
	  <div class="container">
	
		<div class="bar">
			<!-- Create a binding between the searchString model and the text field -->
			<input type="text" ng-model="searchString" placeholder="Search Tatcha Catalog" />
		</div>

		 <ul>
			<li ng-repeat="i in items | searchFor:searchString">
				<a href="{{i.url}}" target="_blank"><img ng-src="{{i.image}}" />
				<p>{{i.title}}</p>
				<p>{{i.price}}</p></a>
			</li>
		 </ul>
	  </div>
	</body>

</html>