body {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff; /* Sanity Check! */
}

h2 {
	font-weight: 300;
	font-family: 'Poiret One', cursive;
	font-size: 25px;
	vertical-align: middle;
	margin: 0px 0px 0px 0px;
}

a:link {
	color: rgb(255,255,255);
}
a:visited {
	color: rgb(255,255,255);
}
a:hover {
	color: rgb(255,255,255);
}

.navbar-header {
	width: 100%;
	vertical-align: middle;
	background: linear-gradient(135deg, #430098, #7e4281);
	position: fixed;
	z-index: 2;
}

.bar{
	background: linear-gradient(135deg, #430098, #7e4281);

	background-image:-webkit-linear-gradient(135deg, #430098, #7e4281);
	background-image:-moz-linear-gradient(135deg, #430098, #7e4281);
	background-image:linear-linear-gradient(135deg, #430098, #7e4281);

	box-shadow: 0 1px 1px #ccc;
	border-radius: 2px;
	width: 400px;
	padding: 14px;
	margin: 80px auto 20px;
	position:relative;
}

.bar input{
	background:#fff no-repeat 13px 13px;
	border: none;
	width: 100%;
	line-height: 19px;
	padding: 11px 0;
	border-radius: 2px;
	box-shadow: 0 2px 8px #f2f2f2 inset;
	text-align: left;
	font-size: 14px;
	font-family: inherit;
	color: #000;
	font-weight: bold;
	outline: none;
	text-indent: 40px;
}

ul{
	list-style: none;
	width: 428px;
	margin: 0 auto;
	text-align: left;
}

ul li{
	border-bottom: 1px solid #ddd;
	padding: 10px;
	overflow: hidden;
}

ul li img{
	width:60px;
	height:60px;
	float:left;
	border:none;
}

ul li p{
	margin-left: 75px;
	font-weight: 300;
	padding-top: 12px;
	color:#000;
}